div{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
table{

    border-spacing: 0;
}
th, td{
    text-align: center;
    padding: 10px 10px;
    width: 50px;
}
.s{
    background-color: yellow;
}
.row-p{
    background-color: lightpink;
    width: 120px;
}
.l{
    background-color: lightgray;
}